//Variables 
$color-primary-red : #d60f0f;
$color-secondary-orange : #020201;
$color-diabled :#B2B9BF;
$color-blue :#0080ff;
$color-text-base : #414547;
$color-border : #A2A8AE;
$color-gray-b : #B2B9BF;
$color-gray-f : #F4F4F7;
$color-gray-e : #E3E6E8;
